.home__about {
  position: relative;
  padding-top: 10rem;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 16rem;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 16rem;
    overflow: hidden;
  }

  .home-about__image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 16.5rem;

    @media (min-width: $breakpoint-tablet) {
      height: 26rem;
    }

    @media (min-width: $breakpoint-desktop) {
      position: absolute;
      top: 0;
      right: -0;
      width: 50%;
      height: 100%;
      overflow: hidden;
      z-index: 3;
    }

    &::before {
      content: '';

      @media (min-width: $breakpoint-desktop) {
        position: absolute;
        top: 0%;
        left: -20%;
        transform: rotate(-10deg);
        background-color: inspect(map-get($theme-colors, yellow));
        width: 40%;
        height: 120%;
        z-index: 1;
      }
    }
  }

  .home-about__text {
    padding: 3.75rem $page-margin 3.75rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 4.25rem $page-margin-tablet 4.25rem;
    }

    @media (min-width: $breakpoint-desktop) {
      max-width: 50%;
      padding: 4.25rem $page-margin-desktop 4.25rem;
    }

    @media (min-width: $breakpoint-desktop-large) {
      max-width: 40%;
    }

    @media (min-width: $breakpoint-desktop-xl) {
      max-width: 33%;
    }

    p:last-child {
      margin-top: 4.625rem;

      a {
        color: inspect(map-get($theme-colors, black));
        font-size: 1.438rem;
        font-weight: 700;
        letter-spacing: 0.063rem;

        @media (min-width: $breakpoint-tablet) {
          font-size: 1.625rem;
        }

        @media (min-width: $breakpoint-desktop) {
          font-size: 1.875rem;
        }

        &:hover {
          color: inspect(map-get($theme-colors, white));
          text-decoration: none;
        }
      }
    }
  }
}
