.home__contact {
  position: relative;
  min-height: 100vh;

  .home-contact__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 $page-margin 4.75rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 0 $page-margin-tablet 4.75rem;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 0 $page-margin-desktop 4.75rem;
    }

    & > *:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    h2 {
      color: inspect(map-get($theme-colors, black));
      font-size: 4.063rem;
      line-height: 4.063rem;
      margin-bottom: 2rem;

      @media (min-width: $breakpoint-tablet) {
        font-size: 5.3rem;
        line-height: 5.3rem;
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 6.688rem;
        line-height: 6.688rem;
      }
    }

    a {
      display: block;
      position: relative;
      color: inspect(map-get($theme-colors, black));
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: 0.313rem;
      line-height: 1.875rem;

      @media (min-width: $breakpoint-tablet) {
        font-size: 1.275rem;
        letter-spacing: 0.46rem;
        line-height: 2rem;
      }

      @media (min-width: $breakpoint-desktop) {
        display: inline-block;
        font-size: 1.438rem;
        letter-spacing: 0.625rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }

      &:hover {
        color: inspect(map-get($theme-colors, white));
        text-decoration: none;
      }

      &::after {
        content: '';

        @media (min-width: $breakpoint-desktop) {
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background-color: inspect(map-get($theme-colors, black));
          width: 0.2rem;
          height: 100%;
        }
      }

      &:first-child {
        @media (min-width: $breakpoint-desktop) {
          padding-left: 0;
        }
      }

      &:last-child {
        padding-right: 0;

        &::after {
          content: '';
          display: none;
        }
      }
    }
  }
}
