.home__top {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-left: $page-margin;
  overflow: hidden;
  transform-style: preserve-3d;
  z-index: 1;

  @media (min-width: $breakpoint-tablet) {
    padding-left: $page-margin-tablet;
  }

  .home-top__text {
    position: absolute;
    bottom: 0;
    left: $page-margin;
    padding-bottom: 4.375rem;
    z-index: 2;

    @media (min-width: $breakpoint-tablet) {
      left: $page-margin-tablet;
    }

    @media (min-width: $breakpoint-desktop) {
      left: $page-margin-desktop;
    }

    @media (min-width: $breakpoint-desktop-large) {
      padding-bottom: 6rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: 1.25rem;

      @media (min-width: $breakpoint-tablet-large) and (max-height: 800px) {
        padding-right: 30%;
      }

      @media (min-width: $breakpoint-desktop) {
        padding-right: 30%;
        margin-bottom: 2.5rem;
      }

      @media (min-width: 1500px) {
        padding-right: 40%;
      }

      @media (min-width: $breakpoint-desktop-large) {
        padding-right: 50%;
      }

      @media (min-width: $breakpoint-desktop-huge) {
        padding-right: 65%;
      }
    }

    p {
      font-size: 0.5rem;
      letter-spacing: 0.36rem;
      text-transform: uppercase;

      @media (min-width: 414px) {
        font-size: 0.625rem;
        letter-spacing: 0.4rem;
      }

      @media (min-width: $breakpoint-tablet) {
        font-size: 1rem;
        letter-spacing: 0.85rem;
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.438rem;
        letter-spacing: 1.125rem;
      }
    }
  }

  .home-top__mountains {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;

    @media (min-width: $breakpoint-desktop) {
      transform: translateZ(50px);
    }

    img {
      position: absolute;

      &.home-top__mountain1 {
        bottom: -110%;
        left: -103%;
        width: 250%;
        z-index: 2;

        @media (min-width: $breakpoint-tablet) {
          bottom: -120%;
          left: -78%;
          width: 200%;
        }

        @media (min-width: $breakpoint-tablet-large) and (max-height: 800px) {
          right: 0%;
          bottom: -117%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) {
          right: 0%;
          bottom: -117%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 900px) {
          bottom: -145%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 800px) {
          bottom: -155%;
        }

        @media (min-width: 1500px) and (max-height: 900px) {
          bottom: -165%;
        }

        @media (min-width: 1500px) and (max-height: 800px) {
          bottom: -185%;
        }

        @media (min-width: $breakpoint-desktop-med) {
          bottom: -150%;
        }

        @media (min-width: $breakpoint-desktop-med) and (max-height: 900px) {
          bottom: -170%;
        }

        @media (min-width: $breakpoint-desktop-large) and (max-height: 1100px) {
          bottom: -160%;
        }

        @media (min-width: $breakpoint-desktop-xl) {
          bottom: -160%;
        }

        @media (min-width: $breakpoint-desktop-huge) {
          bottom: -185%;
        }
      }

      &.home-top__mountain2 {
        bottom: -53%;
        left: -40%;
        width: 175%;
        z-index: 1;

        @media (min-width: $breakpoint-tablet) {
          bottom: -70%;
          left: -25%;
          width: 150%;
        }

        @media (min-width: $breakpoint-tablet-large) and (max-height: 800px) {
          right: -20%;
          bottom: -90%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) {
          right: -16%;
          bottom: -90%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 900px) {
          bottom: -118%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 800px) {
          bottom: -128%;
        }

        @media (min-width: 1500px) and (max-height: 900px) {
          bottom: -138%;
        }

        @media (min-width: 1500px) and (max-height: 800px) {
          bottom: -158%;
        }

        @media (min-width: $breakpoint-desktop-med) {
          bottom: -123%;
        }

        @media (min-width: $breakpoint-desktop-med) and (max-height: 900px) {
          bottom: -143%;
        }

        @media (min-width: $breakpoint-desktop-large) and (max-height: 1100px) {
          bottom: -143%;
        }

        @media (min-width: $breakpoint-desktop-xl) {
          bottom: -133%;
        }

        @media (min-width: $breakpoint-desktop-huge) {
          bottom: -158%;
        }
      }

      &.home-top__mountain3 {
        bottom: -90%;
        left: -61%;
        width: 250%;
        z-index: 4;

        @media (min-width: $breakpoint-tablet) {
          bottom: -80%;
          left: -25%;
          width: 175%;
        }

        @media (min-width: $breakpoint-tablet-large) and (max-height: 800px) {
          right: -30%;
          bottom: -77%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) {
          right: -27%;
          bottom: -77%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 900px) {
          bottom: -105%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 800px) {
          bottom: -115%;
        }

        @media (min-width: 1500px) and (max-height: 900px) {
          bottom: -125%;
        }

        @media (min-width: 1500px) and (max-height: 800px) {
          bottom: -145%;
        }

        @media (min-width: $breakpoint-desktop-med) {
          bottom: -110%;
        }

        @media (min-width: $breakpoint-desktop-med) and (max-height: 900px) {
          bottom: -130%;
        }

        @media (min-width: $breakpoint-desktop-large) and (max-height: 1100px) {
          bottom: -130%;
        }

        @media (min-width: $breakpoint-desktop-xl) {
          bottom: -120%;
        }

        @media (min-width: $breakpoint-desktop-huge) {
          bottom: -145%;
        }
      }

      &.home-top__mountain4 {
        bottom: -79%;
        left: -44%;
        width: 250%;
        z-index: 3;

        @media (min-width: $breakpoint-tablet) {
          bottom: -65%;
          left: -6%;
          width: 175%;
        }

        @media (min-width: $breakpoint-tablet-large) and (max-height: 800px) {
          right: -42%;
          bottom: -65%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) {
          right: -42%;
          bottom: -65%;
          left: auto;
          width: 100%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 900px) {
          bottom: -93%;
        }

        @media (min-width: $breakpoint-desktop) and (max-height: 800px) {
          bottom: -103%;
        }

        @media (min-width: 1500px) and (max-height: 900px) {
          bottom: -113%;
        }

        @media (min-width: 1500px) and (max-height: 800px) {
          bottom: -133%;
        }

        @media (min-width: $breakpoint-desktop-med) {
          bottom: -98%;
        }

        @media (min-width: $breakpoint-desktop-med) and (max-height: 900px) {
          bottom: -118%;
        }

        @media (min-width: $breakpoint-desktop-large) and (max-height: 1100px) {
          bottom: -118%;
        }

        @media (min-width: $breakpoint-desktop-xl) {
          bottom: -108%;
        }

        @media (min-width: $breakpoint-desktop-huge) {
          bottom: -133%;
        }
      }
    }
  }
}
