.banner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: $page-margin $page-margin 1rem;
  z-index: 10;

  @media (min-width: $breakpoint-tablet) {
    padding: $page-margin-tablet $page-margin-tablet 1rem;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: $page-margin-desktop $page-margin-desktop 1rem;
  }

  .brand {
    position: absolute;
    top: $page-margin;
    right: $page-margin;
    color: inspect(map-get($theme-colors, black));
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    width: 4rem;

    @media (min-width: $breakpoint-tablet) {
      top: $page-margin-tablet;
      right: $page-margin-tablet;
    }

    @media (min-width: $breakpoint-desktop) {
      top: $page-margin-desktop;
      right: $page-margin-desktop;
      width: 6rem;
    }

    &:hover {
      color: inspect(map-get($theme-colors, white));
    }

    img {
      width: 100%;
    }
  }

  .nav {
    display: block;

    li {
      display: block;
      line-height: 1;
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 1.5rem;
      }

      @media (min-width: $breakpoint-desktop) {
        margin-bottom: 2rem;
      }

      a {
        color: inspect(map-get($theme-colors, black));
        font-size: 1.438rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.063rem;

        @media (min-width: $breakpoint-tablet) {
          font-size: 1.9rem;
        }

        @media (min-width: $breakpoint-desktop) {
          font-size: 2.438rem;
        }

        &.active,
        &:hover {
          color: inspect(map-get($theme-colors, white));
          text-decoration: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
